/*
* Styles for The next web
*/

/*General rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f7f8f8;
  box-shadow: 0 0 48px rgb(0 0 0 / 15%);
}
@media (max-width: 650px) {
  nav {
    justify-content: start;
  }
  .nav-li,
  .mail-icon {
    display: none;
  }
}
nav .logo-nav svg {
  min-width: 4em;
}
.nav-li li {
  display: inline;
  margin: 0 1rem;
  font-size: 0.9rem;
  color: #505666;
  text-transform: uppercase;
}

/* Main head */
.main-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5em 10em;
}
.main-head svg {
  min-width: 12em;
}
.main-head h2 {
  font-size: 2em;
  color: #505666;
  min-width: 200px;
  text-align: center;
}
@media (max-width: 800px) {
  .main-head {
    flex-direction: column;
    align-items: center;
  }
  .main-head svg {
    max-width: 15rem;
  }
  .main-head h2 {
    font-size: 100%;
  }
}

/*News*/
.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  height: 600px;
  max-width: 1300px;
  margin: auto;
}
.container-1 {
  grid-row: span 3;
  grid-column: span 2;
}
.container-2 {
  grid-row: span 2;
  grid-column: span 1;
}
.container-3 {
  grid-column-start: 3;
  grid-column-end: -5;
  grid-row-end: 6;
  grid-row: span 2;
}
.container-4 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-column-end: 5;
  grid-row-end: -1;
}
@media (max-width: 800px) {
  .news {
    min-height: 700px;
    max-height: 900px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0 1rem;
  }
  .container-1 {
    grid-column: span 4;
    grid-row: span 2;
  }
  .container-2,
  .container-3,
  .container-4 {
    grid-column: span 2;
    grid-row: span 1;
  }
  div.containers h3,
  div.containers p {
    font-size: 1rem;
  }
  div.more button {
    padding: 0.5rem;
  }
  .container-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
  }
  .containers .more {
    background-size: cover;
  }
  .containers div:hover {
    background-size: cover !important;
  }
}
@media (max-width: 500px) {
  .news {
    display: block;
    padding: 0;
    margin: auto;
    max-height: fit-content;
    min-height: auto;
    height: 1000px;
  }
  .containers {
    height: 200px;
  }
}
/*Grid backgrounds*/
.space {
  background: linear-gradient(180deg, transparent 0, #000),
    url(./images/helicopter.jpg) center;
}
.shift {
  background: linear-gradient(180deg, transparent 0, #000),
    url(./images/Opel-Manta-hed.jpg);
}
.neural {
  background: linear-gradient(180deg, transparent 0, #000),
    url(./images/EU-Vesthager-hed.jpg);
}
.more {
  background: linear-gradient(180deg, transparent 0, #000),
    url(./images/next_home-promo.jpg);
}
.video {
  background: linear-gradient(180deg, transparent 0, #000),
    url(./images/gif_2-3.gif);
}
.containers div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  contain: content;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  background-size: 135%;
  -webkit-transition: all 0.3s ease-in-out;
}
.container-3 .more {
  justify-content: center;
  text-align: center;
}
.containers div:hover {
  cursor: pointer;
  background-size: 132%;
}
.containers p,
.containers h3 {
  color: #fff;
  padding: 0 2rem 1rem 2rem;
}
p.subtitle {
  text-transform: uppercase;
  font-size: 0.8em;
}
h3.title-big {
  font-size: 2.4em;
  font-weight: 600;
}
h3.title-small {
  font-size: 1.2em;
  font-weight: 600;
}
.more p {
  font-size: 1.4em;
  font-weight: 600;
}
.more button {
  max-width: 150px;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
  border-style: none;
  cursor: pointer;
  border: solid 1px #fff;
  padding: 1.5em;
  border-radius: 2em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
}

/* Popular */

section .popular {
  background-color: #f7f8f8;
  min-height: 250px;
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular h2 {
  font-size: 1.8em;
  text-transform: uppercase;
  padding-bottom: 4rem;
  color: #a7aab2;
}
.list {
  display: flex;
  margin: 0 4rem;
}
.list-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 1rem;
  font-weight: 600;
}
.list-item .li-text:hover {
  text-decoration: underline rgb(204 0 153 / 43%);
  cursor: pointer;
}
.li-number {
  font-size: 2.5rem;
  line-height: 0.7;
  padding-right: 0.7rem;
  font-weight: 100;
  color: #cc0099;
}
@media only screen and (max-width: 650px) {
  .list {
    flex-direction: column;
    margin: 14rem 1rem 5rem 1rem;
    line-height: 2;
  }
}

/* Latest news section */
.container-latest {
  max-width: 1310px;
  margin: auto;
}
.latest {
  margin: 0 4rem;
}
@media (max-width: 650px) {
  .latest {
    margin: 0;
  }
}
.latest h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}
@media (max-width: 650px) {
  .latest h2 {
    text-align: center;
  }
}
.latest button {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem auto;
  padding: 14px 16px;
  border: solid 1px #dcdce0;
  border-radius: 24px;
  min-width: 8rem;
  background-color: #fff;
  color: #505666;
}
.latest button:hover {
  cursor: pointer;
}
.container-stories {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  flex-grow: 1;
  align-items: baseline;
  gap: 0.8rem;
  justify-content: center;
}
@media (max-width: 1310px) {
  .container-latest {
    max-width: 1010px;
  }
}
@media (max-width: 1010px) {
  .container-latest {
    max-width: 720px;
  }
}
@media (max-width: 710px) {
  .container-latest {
    max-width: 420px;
  }
}
.storie {
  max-width: 285px;
  line-height: 1.5;
}
.storie p {
  font-weight: 700;
}
p.time {
  font-size: 0.8rem;
  font-weight: 500;
  color: #a7aab2;
}

/*Channels styles*/
.channels-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: space-evenly;
  padding: 7rem 0;
  background-color: #f7f8f8;
}
@media (max-width:1200px) {
  .channels-container{
    overflow-x: overlay;
    overflow-y: hidden;
    flex-direction: row;
    padding: 4rem 0;
    justify-content: end;
  }
}
.channels-container img {
  max-width: 120px;
}
.channel {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  min-height: 220px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}
@media (max-width:650px) {
  .channel{
    min-width: 200px;
  }
}
.channel-1 {
  background: url(./images/bg-1.webp);
  background-size: cover;
}
.channel-2 {
  background: url(./images/bg-2.jpeg);
  background-size: cover;
}
.channel-3 {
  background: url(./images/bg-3.jpeg);
  background-size: cover;
}
.channel-4 {
  background: url(./images/bg-4.jpeg);
  background-size: cover;
}
.channel-5 {
  background: url(./images/bg-5.webp);
  background-size: cover;
}
